  <!doctype html>
    <title>A short quiz</title>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_bismayan.css')}}'>
    <div class=page>
      <h1>Question #{{num}}</h1>

      <div class=metanav>

        {{question}}

        <h4>
          <form id='answerform_bismayan' method='post' action='next_bismayan' >
            <p>
              Answer: <br />
              <input type='radio' name='answer_from_layout_bismayan' value={{ans1}} /> {{ans1}} <br />
              <input type='radio' name='answer_from_layout_bismayan' value={{ans2}} /> {{ans2}} <br />
              <input type='radio' name='answer_from_layout_bismayan' value={{ans3}} /> {{ans3}} <br />
            </p>

            <p>
              <input type='submit' value='NextButton_bismayan' />
            </p>
          </form>
        </h4>
      </div>
    </div>